body{
    margin: 0;
    padding: 0;
   height: 100vh;
   
}
.example-1{
    display: flex;
}
.child{
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: rgb(12, 3, 255);
    margin: 5px;
}
.example-2{
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
}
.example-3{
    display: flex;
    /* align-items: flex-start; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
   
}
.example-3 div {
    width: 300px;
}
.example-4{
    display: flex;
    /* flex-flow: row nowrap; */
    /* flex-flow: column-reverse; */
    /* flex-flow: column wrap; */
    flex-flow: row-reverse wrap-reverse;
    height: 100%;
}
.example-4 div{
    /* width: 40%; */
    /* height: 100%; */
}
.example-5{
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.example-5 div {
    /* order: -1; */
    /* order: 0; */
    /* order: 1; */
}
.example-6{
  display: flex;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
}
.example-7{
    display: flex;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    align-items: stretch;
    height: 100%;
}
.example-8{
    display: flex;
    height: 100%;
}
.example-8 div{
/* align-self: flex-start; */
/* align-self: flex-end; */
/* align-items: center; */
/* align-items: baseline; */
align-items: stretch;
}
.example-9{
display: flex;
flex-wrap: wrap;
/* align-content: flex-start; */
/* align-content: flex-end; */
/* align-content: center; */
/* align-content:space-between ; */
align-content: space-around ;
/* align-content: space-evenly; */
/* align-content: stretch; */
height: 100%;
}
.example-9{
    width: 30%;
}
.example-10{
    display: flex;
    height: 100%;
}
.child-active{
    flex-grow: 1;
    /* flex-grow: 0; */
}
.example-11{
    display: flex;
    height: 100%;
}
.example-11 div{
    width: 40%;
}
.example-11 div :active{
    /* flex-shrink: 1; */
    flex-shrink: 0;
}
.example-12{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}
.child-active{
    flex-basis: 30%;
}